<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.therapyhome">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity android:name=".LoginActivity"/> -->
        <activity android:name=".DoctorMonitor" />
        <activity android:name=".DoctorPatientListActivity" />
        <activity android:name=".GuardianMsgActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".GuardianMonitorActivity" />
        <activity android:name=".GuardianKeywordEditActivity" />
        <activity android:name=".GuardianMainActivity" />
        <activity android:name=".GuardianPhoneActivity" />
        <activity android:name=".PatientControlIoTActivity" />
        <activity android:name=".TutorialJoyStickOkActivity" />
        <activity android:name=".TutorialJoyStickActivity" />
        <activity android:name=".TutorialFaceOkActivity" />
        <activity android:name=".TutorialfaceActivity" />
        <activity android:name=".TutorialControlChoiceActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LoginActivity">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
    </application>

</manifest>